.card {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
}

.card.expanded {
    align-items: flex-start;
}

.card .publication {
    font-style: italic;
}

.card .title {
    font-weight: bold;
}

.card .additional {
    width: 100%;
    margin-top: 15px;
    padding: 20px;
    border-radius: 3px;
    background-color: #dee8f9;
    list-style: none;
}

.card .additional.reviewer dd,
.card .additional.reviewer dt {
    margin-bottom: 8px;
}

.card .additional.reviewer dt {
    font-size: 16px;
}

.confirm {
    margin: 0 15px;
}

.caution {
    margin-top: 5px;
    color: firebrick;
}

.status__updater__wrapper {
    display: flex;
    align-items: flex-start;
}

.status__info__note {
    margin-bottom: 15px;
    font-style: italic;
}

.card__list {
    list-style: none;
    margin-right: 35px;
    margin-bottom: 15px;
}

.status__info {
    margin-right: 35px;
}

.status__info,
.basic__info {
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 3px;
    width: 100%;
    padding: 15px;
}

.card .expand {
    margin-left: auto;
    color: #333;
}

.card .expand button {
    background: none;
    border: none;
    height: 44px;
    width: 44px;
    padding: 4px;
    transition: .15s ease-in;
}

.card .expand button:hover {
    color: #49274A;
    border: 2px solid #49274A;
    border-radius: 4px;
}

.view-submission-button {
    display: inline-block;
    color: #008CBA;
    background-color: transparent;
    border: 1px solid #008CBA;
    font-size: 14px;
    height: 44px;
    line-height: 38px;
    padding: 2px 10px;
    border-radius: 4px;
    transition: .25s ease-in;
}

.view-submission-button:hover {
    color: #fff;
    background-color: #008CBA;
}

.submission__delete__wrapper {
    margin-left: auto;
}

.submission__delete__wrapper button {
    color: #fff;
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    transition: .15s ease-in;
    height: 44px;
    width: 75px;
    border-radius: 3px;
}

.submission__delete__wrapper button:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

#newDecision, #newRecommendation {
    margin-right: 15px;
}

.status__info > div {
    margin-bottom: 20px;
}





