.login__image {
    display: none;
}

form.login__form {
    width: 90%;
}

#login__modal__login__button {
    background: transparent;
    border: 2px solid #F8EEE7;
    color: #F8EEE7;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 5px 20px;
    height: 44px;
    margin-left: 10px;
    transition: .15s ease-in;
}

#login__modal__login__button:hover {
    cursor: pointer;
    background-color: #49274A;
}

#login__modal__login__button:disabled {
    border-color: transparent;
    background-color: #967592;
}

.login__modal__button__wrapper {
    width: 90%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login__modal__button__wrapper .sk-fading-circle {
    margin: 0;
}

.login__modal__error {
    color: #F8EEE7;
    margin-bottom: 5px;
}

.login__modal .header {
    background-color: #F4DECB!important;
}

@media screen and (min-width: 650px) {
    .login__image {
        display: inline-block;
        padding-left: 10px;
        height: 100px;
        margin-left: auto;
    }

    .login__image img {
        height: 100%;
    }

    form.login__form {
        width: 100%;
    }

    form.login__form .field {
        width: 90%;
    }
}

.login__modal.ui.modal>.content {
    width: 100%;
    font-size: 1em;
    line-height: 1.4;
    padding: 1.5rem;
    background: #94618E;
}

.login__modal__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login__modal__has__error {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

