:root {
    --table-border: 1px solid rgba(0, 0, 0, 0.2);
    --light-gray: #f9fafb;
    --backgrond-color: #F8EEE7;
}

table.expandable__table thead {
    background-color: var(--light-gray);
    border-bottom: var(--table-border);
}

table.expandable__table thead th {
    border-right: var(--table-border);
    height: 3rem;
    padding: 0;
    margin: 0;
}

table.expandable__table .image {
    width: 75px;
    height: 75px;
    padding: 10px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

table.expandable__table .bottom {
    border-bottom: var(--table-border);
}

table.expandable__table .bottom.dotted {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
}

table.expandable__table .counters td div {
    padding: 15px;
    cursor: pointer;
}

table.expandable__table td.image {
    border-right: none;
}

table.expandable__table td.editors,
table.expandable__table td.publication {
    text-align: left;
}

table.expandable__table td.editors {
    padding-left: 15px;
}

table.expandable__table {
    width: 100%;
    margin-left: 0;
    border-top: var(--table-border);
    border-bottom: var(--table-border);
    background-color: #fff;
    border-collapse: collapse;
}

table.expandable__table tbody tr td:last-child {
    cursor: default;
}

table.expandable__table td {
    border-right: var(--table-border);
    cursor: pointer;
    margin: 0;
}

table.expandable__table div.image img {
    width: 100%;
}

table.expandable__table td.delete,
table.expandable__table td {
    text-align: center;
}

table.expandable__table td.collapsed {
    width: 0;
    height: 0;
    display: none;
}

table.expandable__table tr td.expanded {
    word-break: break-all;
    padding: 30px;
    text-align: left;
    border-radius: 4px;

}

table.expandable__table tr.expanded {
    border-bottom: 30px solid var(--backgrond-color);
}

table.expandable__table tr td.expanded > div {
    display: flex;
    justify-content: space-between;

}

table.expandable__table dt {
    margin-top: 20px;
}

table.expandable__table tr td.expanded p.date {
    margin-top: 35px;
}

.view-submission-button {
    display: inline-block;
    color: #008CBA;
    background-color: transparent;
    border: 1px solid #008CBA;
    font-size: 14px;
    height: 44px;
    line-height: 38px;
    padding: 2px 10px;
    border-radius: 4px;
    transition: .25s ease-in;
    margin-left: auto;
    width: 131px;
}

.view-submission-button:hover {
    color: #fff;
    background-color: #008CBA;
}

table.expandable__table dl {
    margin-top: 0;
}

/*publication*/
tbody.publication__row ul {
    list-style: none;
    padding: 0;
}

tbody.publication__row .name {
    font-weight: 700;
}

tbody.publication__row .email {
    color: rgba(0, 0, 0, .5);
}

tbody.publication__row .button__wrapper {
    text-align: right;
    width: 100%;
}

tbody.publication__row .button__wrapper * {
    display: inline-block;
}

tbody.publication__row button.delete {
    color: #d9534f;
}

tbody.publication__row button.edit {
    color: rgba(0, 0, 0, .5)
}

tbody.publication__row button.edit:hover {
    color: #333;
}

tbody.publication__row button.delete:hover {
    color: #9b1810;
}

tbody.publication__row button {
    background-color: transparent;
    border: none;
    transition: .15s ease-in;
    padding: 0;
    margin-left: 25px;
}

table.expandable__table td.delete button {
    margin: 0;
}


/*media*/

@media screen and (max-width: 768px) {
   table.expandable__table tr {
       display: flex;
       flex-wrap: wrap;
       border-right: var(--table-border);
       padding: 25px;
   }

    table.expandable__table thead th,
    table.expandable__table td {
        width: 100%;
        text-align: left;
        border-right: none;
        margin-bottom: 10px;
    }

    table.expandable__table .image {
        margin: 0 0 10px 0;
        text-align: left;
        padding: 0;
    }

    table.expandable__table thead th {
        height: auto;
        margin: 8px;
    }

    table.expandable__table tbody {
        height: auto;
    }

    table.expandable__table div.image img {
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
    }

    table.expandable__table tr td.expanded > div {
        flex-wrap: wrap;
    }

    table.expandable__table tr td.expanded div.comments {
        width: 100%;
    }

    table.expandable__table td.delete > div {
        width: 100%;
        text-align: right;
    }
}