div.card {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #fff;
    position: relative;
    word-wrap: break-word;
}

div.card.expanded {
    align-items: flex-start;
}

div.card li.publication {
    font-style: italic;
    margin-bottom: 8px;
}

.card .title {
    font-weight: bold;
}

.card .additional {
    width: 100%;
    margin: 15px;
    border-radius: 3px;
    list-style: none;

}

.card .additional.reviewer dd,
.card .additional.reviewer dt {
    margin-bottom: 8px;
}

.card .additional.reviewer dt {
    font-size: 16px;
}

.confirm {
    margin: 0 15px;
}

.caution {
    margin-top: 5px;
    color: firebrick;
}

.status__updater__wrapper {
    display: flex;
    align-items: flex-start;
}

div.card.review div.publication__wrapper {
    display: flex;
}

div.card.review div.publication__wrapper div.image {
    width: 75px;
    height: 75px;
}

div.card.review div.publication__wrapper div.image img {
    height: 100%;
}

.status__info__note {
    margin-bottom: 15px;
    font-style: italic;
}

.card__list {
    list-style: none;
    margin-right: 35px;
    margin-bottom: 15px;
}

@media screen and (max-width: 450px) {
    .card__list {
        margin-top: 30px;
    }
}

ul.card__list.publication {
    width: 100%;
}

ul.card__list li.title {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 80%;
}


ul.card__list li.author,
ul.card__list li.date {
    display: inline-block;
    width: auto;
    margin-right: 8px;
}

ul.card__list li.date {
    text-transform: lowercase;
    color: rgba(0, 0, 0, .4)
}

.status__info {
    margin-right: 35px;
}

.status__info,
.basic__info {
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 3px;
    width: 100%;
    padding: 15px;
}

.card .view {
    margin-left: auto;
}
.card .expand {
    margin-top: auto;
    color: #333;
    text-align: right;
}

.card button.expand  {
    background: none;
    border: none;
    padding: 0;
    color: rgba(0, 0, 0, .35);
    transition: .15s ease-in;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.card button.expand:hover {
    color: #333;
}

.view-submission-button {
    display: inline-block;
    color: #008CBA;
    background-color: transparent;
    border: 1px solid #008CBA;
    font-size: 14px;
    height: 44px;
    line-height: 38px;
    padding: 2px 10px;
    border-radius: 4px;
    transition: .25s ease-in;
    position: absolute;
    right: 10px;
    top: 3px;
}

.view-submission-button:hover {
    color: #fff;
    background-color: #008CBA;
}



#newDecision, #newRecommendation {
    margin-right: 15px;
}

.status__info > div {
    margin-bottom: 20px;
}

.comment__counter:hover {
    cursor: pointer;
}




