.navbar {
    width: 100%;
    background-color: rgb(148, 104, 174);
}

.navbar__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
    height: 55px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

}

.navbar__shadow {
    -webkit-box-shadow: 0 1px 6px 3px #999;
    -moz-box-shadow: 0 1px 6px 3px #999;
    box-shadow: 0 1px 6px 3px #999;
    position: sticky;
    top: 0;
    z-index: 900;
}

.navbar__brand {
    margin-right: auto;
    font-size: 30px;
    line-height: 30px;
}

@media screen and (max-width: 1000px) {
    .navbar__brand.shift {
        /* spaces to accommodate fixed menu button */
        margin-left: 45px;
    }
}


a.navbar__brand  {
    color: #fff;
    transition: color .15s ease-in;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

a.navbar__brand:hover {
    color: #49274A
}

a.navbar__brand i {
    color: #49274A;
    background-color: #fff;
    border-radius: 50%;
}

.navbar button {
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid transparent;
    color: #fff;
    background-color: transparent;
    height: 50px;
    width: 100px;
    padding: 5px 10px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    transition: .15s ease-in;
}

.navbar button:hover {
    cursor: pointer;
    color: #49274A;
    border-bottom: 3px solid #49274A;
}

#navbar__logo {
    height: 25px;
    margin-left: 8px;
}