.tabList nav {
    padding: 0;
}

.tabList ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

.tabList li {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 115px;
}

.tabList li:hover {
    background-color: #666;
    cursor: pointer;
}

.tabList .active {
    background-color: #eee;
    border-bottom: none;
}