div.card .delete__wrapper button {
    color: #d9534f;
    background-color: transparent;
    border: none;
    transition: .15s ease-in;
    padding: 0;
    margin-left: auto;
}

div.card__basic .delete__wrapper {
    text-align: right;
}

div.card .delete__wrapper button:hover {
    color: #9b1810;
}
