.dashboard {
    background-color: #fff;
    height: 100%;
    padding: 30px;
    font-family: "Open Sans", Lato, sans-serif;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard__header {
    font-family: "Open Sans", Lato, sans-serif;
}

.pane {
    background-color: #F8EEE7;
    padding-top: 25px;
    padding-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-top: none;
    margin-bottom: 50px;
}

.pane > * {
    margin: 20px;
}

.pane__header__title {
    width: 100%;
}

.pane__header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.submissionList {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

.submissionList li {
    width: 100%;
}

.new-submission-button {
    display: inline-block;
}

@media screen and (min-width: 500px) {
    .pane__header .new-submission-button {
        margin-left: 35px;
        margin-top: -10px;
    }

    .pane__header__title {
        width: auto;
    }
}

.filter__list .filter {
    margin-bottom: 8px;
}

.editor__toggle__label {
    margin-right: 8px;
}

@media screen and (min-width: 650px) {
    .filter__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        max-width: 600px;
    }
}

@media screen and (min-width: 765px) {
    .editor__toggle__label {
        display: none;
    }
}

button.user__delete {
    color: #fff;
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    transition: .15s ease-in;
    height: 44px;
    width: 75px;
    border-radius: 3px;
}

button.user__delete:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.user__delete__wrapper {
    text-align: center;
}