.dashboard {
    background-color: #fff;
    height: 100%;
    padding: 30px;
    font-family: "Open Sans", Lato, sans-serif;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard__header {
    font-family: "Open Sans", Lato, sans-serif;
}

.pane {
    background-color: #F8EEE7;
    padding-top: 25px;
    padding-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-top: none;
    margin-bottom: 50px;
}

.pane > * {
    margin: 20px;
}

.pane__header__title {
    width: 100%;
}

.pane__header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.submissionList {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

@media screen and (max-width: 900px) {
    .submissionList li {
        width: 100%;
    }
}

.new-submission-button {
    display: inline-block;
}

@media screen and (min-width: 500px) {
    .pane__header .new-submission-button {
        margin-left: 35px;
        margin-top: -10px;
    }

    .pane__header__title {
        width: auto;
    }
}

.filter__list .filter {
    margin-bottom: 8px;
}

.editor__toggle__label {
    margin-right: 8px;
}

@media screen and (min-width: 650px) {
    .filter__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        max-width: 600px;
    }
}

@media screen and (min-width: 765px) {
    .editor__toggle__label {
        display: none;
    }
}

button.user__delete {
    color: #fff;
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    transition: .15s ease-in;
    height: 44px;
    width: 75px;
    border-radius: 3px;
}

button.user__delete:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.user__delete__wrapper {
    text-align: center;
}

section.submission__form__wrapper {
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    margin: 4px;
}

#doc {
    display: none;
}

@media screen and (min-width: 600px) {
    #doc {
        display: block;
    }

    .custom__file__button {
        display: none;
    }
}

/* new submission transitions */
.submissionForm-enter {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.submissionForm-enter.submissionForm-enter-active {
    opacity: 1;
    max-height: 900px;
    transition: 1000ms ease-in;
}

.submissionForm-leave {
    opacity: 1;
    max-height: 900px;
}

.submissionForm-leave.submissionForm-leave-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 1000ms ease-in;
}

input.search__filter {
    height: 30px;
    border-radius: 500rem;
    border: 1px solid rgba(0, 0, 0, .2);
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

input.search__filter label {
    margin-right: 15px;
}

div.search__filter__wrapper {
    position: relative;
    margin-top: 20px;
}

div.search__filter__wrapper i {
    position: absolute;
    right: 5px;
    top: 5px;
}

