.submission__form.wrapper {
    background-color: #fff;
    height: 100%;
    padding: 30px;
    font-family: "Open Sans", Lato, sans-serif;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.submission__form fieldset {
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 25px;
}

header.submission__form {
    margin: 20px;
}

.submission__form .field {
    margin-left: 0;
}

#title__input {
    width: 100%;
}

#publication__dropdown {
    display: inline-block;
    height: 40px;
    padding: 3px 10px;
    border-radius: 3px;

}

.submission__form label+.field {
    display: inline-block;
}

.submission__form label {
    margin-right: 15px;
}

.submission__form .error {
    color: firebrick;
    font-weight: 700;
    font-style: italic;
    width: 100%;
    margin: 5px;
}

fieldset section.dropzone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

section.submission__form.buttons {
    text-align: right;
}

section.submission__form.buttons button {
    margin-left: 20px;
}

.hidden {
    display: none!important;
}
