div.sidebar section > h3 {
    text-align: left;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sidebar div.header {
    display: flex;
}

.sidebar div.header h2 {
    margin-right: 15px;
}

.sidebar .status section {
    text-align: left;
}

.sidebar .status #newDecision,
.sidebar .status #newRecommendation {
    margin-bottom: 15px;
}

.sidebar .status section > h4 {
    margin-top: 15px;
}

.sidebar .status .dates {
    padding: 0;
    list-style: none;
    font-size: 16px;
    text-align: left;
}


.sidebar .status .dates li {
    margin-bottom: 15px;
}

.sidebar .status .dates .date__label {
    display: block;
    font-weight: bold;
}

